header {
    background-color: lightslategrey;
}

nav {
    background-color: lightslategrey;
    display: inline-block;
}

nav > a {
    text-decoration: none;
    color: white;
}

nav > a:hover {
    font-weight: bold;
    background-color: white;
    color: black;
}